<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.NationalFlowFeeMapper">
    <resultMap id="NationalFeeMap" type="entity.NationalFlowFee">
        <result property="nffid" column="nffid"/>
        <result property="uid" column="uid"/>
        <result property="cost" column="cost"/>
        <result property="beginDate" column="begin_date"/>
        <result property="endDate" column="end_date"/>
    </resultMap>

    <insert id="insertNationalFlowFee" parameterType="entity.NationalFlowFee" useGeneratedKeys="true" keyProperty="nffid">
        INSERT INTO national_flow_fee(nffid, uid, cost, begin_date, end_date)
        VALUES(#{nffid}, #{uid}, #{cost}, #{beginDate}, #{endDate})
    </insert>

    <select id="selectNationalFlowFeeByUserId" resultMap="NationalFeeMap">
        SELECT nffid, uid, cost, begin_date, end_date
        FROM national_flow_fee
        WHERE uid = #{uid}
        ORDER BY begin_date DESC
        LIMIT 1
    </select>

    <select id="listConcreteNationalFlowFeeByUserId" resultMap="NationalFeeMap">
        SELECT nffid, uid, cost, begin_date, end_date
        FROM national_flow_fee
        WHERE uid = #{uid}
        ORDER BY begin_date DESC
        LIMIT #{times}
    </select>
</mapper>